<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kanou.dao.SpellMapper">
    <insert id="addSpell" parameterType="Spell">
        insert into SPELL
        (NAME_ENG,
         NAME_CHA,
         TYPE,
         COST_TIME,
         DISTANCE,
         COMPONENTS,
         DURATION,
         DESCRIPTION,
         RING_NUM)
        values
        (
            #{nameEng},
            #{nameCha},
            #{type},
            #{costTime},
            #{distance},
            #{components},
            #{duration},
            #{description},
            #{ringNum}
        )
    </insert>

    <select id="querySpell" resultType="Spell" parameterType="java.lang.String">
        select * from SPELL
        where NAME_CHA like #{name} or NAME_ENG like #{name}
    </select>

    <update id="editSpell" parameterType="Spell">
        update SPELL
            <set>
                <if test="nameEng!=null and nameEng!=''">NAME_ENG = #{nameEng},</if>
                <if test="nameCha!=null and nameCha!=''">NAME_CHA = #{nameCha},</if>
                <if test="type!=null and type!=''">TYPE = #{type},</if>
                <if test="costTime!=null and costTime!=''">COST_TIME = #{costTime},</if>
                <if test="distance!=null and distance!=''">DISTANCE = #{distance},</if>
                <if test="components!=null and components!=''">COMPONENTS = #{components},</if>
                <if test="duration!=null and duration!=''">DURATION = #{duration},</if>
                <if test="description!=null and description!=''">DESCRIPTION = #{description},</if>
                <if test="ringNum!=null and ringNum!=''">RING_NUM = #{ringNum},</if>
            </set>
        where ID = #{id}
    </update>
</mapper>